@model List<GetBlogsWithCategoryAndAuthorShowcaseDTO>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}
<section class="ftco-section">
    <div class="container">
        <div class="row d-flex justify-content-center">
            @foreach(var x in Model)
            {
            <div class="col-md-12 text-center d-flex ftco-animate">
                <div class="blog-entry justify-content-end mb-md-5">
                        <a href="/BlogController1/BlogDetails/@x.BlogId" class="block-20 img" style="background-image: url('@x.CoverImageUrl');">
                    </a>
                    <div class="text px-md-5 pt-4">
                        <div class="meta mb-3">
                            <div><a href="#">@Convert.ToDateTime(x.CreateDate).ToString("dd/MMM/yyyy")</a></div>
                            <div><a href="#">@x.AuthorName</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                        </div>
                        <h3 class="heading mt-2"><a href="#">@x.Title</a></h3>
                        <p>@x.ShortDescription</p>
                            <p><a href="/BlogController1/BlogDetails/@x.BlogId" class="btn btn-primary">Devamını Oku <span class="icon-long-arrow-right"></span></a></p>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</section>
